.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.well {
  background-color: #c7ddef;
  margin: 2px;
  height: 30px;
}

.sidebar {
  background-color: #5bc0de;
}

.input-create-task-form {
 float: left;
  width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.parent {
  display: flex;
  height: 100vh;
}

.child {
  flex-grow: 2;
}

.product {
 text-align: left;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
